<div class="h-full px-[15px] 2xl:px-[10px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] mx-auto">
  <div class="grid grid-cols-12 py-[60px] gap-[10px] lg:gap-0">
    <div class="col-span-12 md:col-span-4 lg:col-span-3 lg:px-[15px] flex flex-col gap-5">
      <div class="bg-white w-full shadow flex flex-col">
        <div class="bg-[#e44d3a] relative  h-[102px]">
          <div
            class=" h-[110px] w-[110px] rounded-full border-8 border-white bg-slate-200 absolute left-1/2 -translate-x-1/2 bottom-0 translate-y-1/2">
          </div>
        </div>
        <div class="pt-[63px] pb-[27px] text-center flex flex-col gap-2">
          <span class="font-semibold text-[24px]">John Doe</span>
          <span class="text-[#686868]">Web Developer at Company Name</span>
        </div>
        <div class="text-center text-[20px] flex flex-col gap-2 py-[15px] border-t">
          <span class="font-semibold">Following</span>
          <span>100</span>
        </div>
        <div class="text-center text-[20px] flex flex-col gap-2 py-[15px] border-t">
          <span class="font-semibold">Follower</span>
          <span>100</span>
        </div>
        <div class="text-center text-[16px] flex flex-col gap-2 py-[15px] border-t">
          <span class="text-[#e44d3a]">View Profile</span>
        </div>
      </div>
      <div class="bg-white w-full shadow flex flex-col">
        <div class="flex flex-row justify-between place-items-center p-[20px] border-b">
          <span class="text-[18px] font-semibold">Suggestions</span>
          <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-xl">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
        </div>
        <div class="flex flex-col">
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-row place-items-center gap-2">
              <div class="h-[35px] w-[35px] rounded-full bg-slate-200"></div>
              <div class="flex flex-col gap-1">
                <span class="font-bold">John Doe</span>
                <span class="text-[#686868]">Grapic Designer</span>
              </div>
            </div>
            <button class="text-3xl text-[#b2b2b2] hover:text-[#e44d3a]">
              <i class="fa-solid fa-square-plus"></i>
            </button>
          </div>
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-row place-items-center gap-2">
              <div class="h-[35px] w-[35px] rounded-full bg-slate-200"></div>
              <div class="flex flex-col gap-1">
                <span class="font-bold">John Doe</span>
                <span class="text-[#686868]">Grapic Designer</span>
              </div>
            </div>
            <button class="text-3xl text-[#b2b2b2] hover:text-[#e44d3a]">
              <i class="fa-solid fa-square-plus"></i>
            </button>
          </div>
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-row place-items-center gap-2">
              <div class="h-[35px] w-[35px] rounded-full bg-slate-200"></div>
              <div class="flex flex-col gap-1">
                <span class="font-bold">John Doe</span>
                <span class="text-[#686868]">Grapic Designer</span>
              </div>
            </div>
            <button class="text-3xl text-[#b2b2b2] hover:text-[#e44d3a]">
              <i class="fa-solid fa-square-plus"></i>
            </button>
          </div>
        </div>
        <div class="text-center flex flex-col gap-2 py-[15px]">
          <span class="text-[#e44d3a] font-semibold">View More</span>
        </div>
      </div>
    </div>
    <div class="order-first md:order-none col-span-12 md:col-span-8 lg:col-span-6 lg:px-[15px]">
      <div class="flex flex-col gap-[20px]">
        <div class="bg-white px-[20px] py-[23px] rounded-sm shadow border-t-4 border-[#e44d3a]">
          <div class="flex flex-row w-full place-items-center justify-between">
            <div class="h-[50px] w-[50px] bg-slate-200"></div>
            <div class="flex flex-row text-[16px] text-white gap-2">
              <button class="px-[15px] bg-[#b2b2b2] hover:bg-[#9f9f9f] rounded leading-[40px]"
                (click)="openModalCreatePost()">Post a Project</button>
              <button class="px-[15px] bg-[#e44d3a] hover:bg-[#c34231] rounded leading-[40px]"
                (click)="openModalCreatePost()">Post a Job</button>
            </div>
          </div>
        </div>
        <div class="bg-white shadow rounded-sm p-[20px]">
          <div class="flex flex-col">
            <div class="flex flex-row place-items-center gap-[15px]">
              <div class="h-[50px] w-[50px] bg-slate-200 rounded-full"></div>
              <div class="flex flex-col gap-2 ">
                <span class="text-[18px] font-semibold">John Doe</span>
                <span class="text-[#b2b2b2]"><i class="fa-solid fa-clock text-[10px]"></i> 2 mins ago</span>
              </div>
              <div class="flex-1"></div>
              <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-xl">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <ul class="flex flex-row gap-4 my-[15px] text-[#b2b2b2]">
              <li class="flex flex-row gap-1"><img src="/assets/images/icon8.png" alt=""><span>Epic Coder</span></li>
              <li class="flex flex-row gap-1"><img src="/assets/images/icon9.png" alt=""><span>India</span></li>
            </ul>
            <div class="flex flex-row gap-2">
              <button class="w-[33px] h-[30px] rounded-sm bg-green-500 hover:bg-green-600 text-lg text-white"><i
                  class="fa-regular fa-bookmark"></i></button>
              <button class="w-[33px] h-[30px] rounded-sm bg-red-500 hover:bg-red-600 text-lg text-white"><i
                  class="fa-regular fa-envelope"></i></button>
            </div>
          </div>
          <div class="text-[16px] mb-[15px]">
            <span class="font-semibold">Senior Web Developer</span>
          </div>
          <div class="flex flex-row gap-4 place-items-center mb-[20px]">
            <div class="px-[13px] py-[5px] bg-blue-400 text-white rounded-sm">Full Time</div>
            <span class="text-[16px] font-semibold">$30 / h</span>
          </div>
          <div class="mb-[20px]">
            <span class="text-[#666666] leading-5">{{ viewMorePost ? lorem : lorem.slice(0, 100) }}...</span>
            <button class="text-[#e44d3a] hover:text-[#c34231] font-semibold" (click)="viewMoreToggle()">{{ viewMorePost
              ? 'View Less' : 'View More' }}</button>
          </div>
          <div class="flex flex-row gap-2 mb-[15px]">
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>HTML</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>CSS</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>PHP</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>Javascript</span>
            </div>
          </div>
          <hr>
          <div class="flex flex-row justify-between text-[#b2b2b2] mt-[30px]">
            <div class="flex flex-row gap-4">
              <div class="flex flex-row gap-2">
                <i class="fa-solid fa-eye"></i>
                <span>Like 20</span>
              </div>
              <div class="flex flex-row gap-2">
                <i class="fa-solid fa-eye"></i>
                <span>Comment 10</span>
              </div>
            </div>
            <div class="flex flex-row gap-2">
              <i class="fa-solid fa-eye"></i>
              <span>Views 50</span>
            </div>
          </div>
        </div>
        <div class="border rounded-sm flex flex-col relative">
          <div class="border-b flex flex-row place-items-center justify-between p-[20px]">
            <span class="text-[20px] font-semibold">Top Profile</span>
            <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-xl">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
          </div>
          <div class=" h-[260px] p-[20px] overflow-x-hidden ">
            <div class="flex flex-row transition-all duration-500" [ngStyle]="{'transform': translate | async}">
              <ng-container *ngFor="let item of data">
                <div
                  class="bg-white w-[153px] h-[220px] rounded-sm flex flex-col pt-[20px] flex-shrink-0 mx-[4px] ">
                  <div class="flex flex-col place-items-center">
                    <div class="h-[57px] w-[57px] bg-slate-200 rounded-full mb-[10px]"></div>
                    <span class="text-[16px] mb-[5px]">{{ item.name }}</span>
                    <span class="text-[#b2b2b2] mb-[15px]">{{ item.job }}</span>
                    <div class="flex flex-row gap-1 text-[13px] mb-[15px]">
                      <button
                        class="px-[8px] rounded-sm py-[5px] text-white bg-green-500 hover:bg-green-600">Follow</button>
                      <button class="px-[8px] rounded-sm py-[5px] text-white bg-red-500 hover:bg-red-600"><i
                          class="fa-regular fa-envelope"></i></button>
                      <button class="px-[8px] rounded-sm py-[5px] text-white bg-blue-400 hover:bg-blue-500">Hire</button>
                    </div>
                  </div>
                  <div class="py-[15px] text-center font-semibold hover:bg-[#e44d3a] hover:text-white border-t">
                    <span>View Profile</span>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-3xl absolute top-1/2 -translate-x-1/2 left-0"
            (click)="slide(false)"><i class="fa-solid fa-circle-chevron-left"></i></button>
          <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-3xl absolute top-1/2 -translate-x-1/2 -right-7"
            (click)="slide(true)"><i class="fa-solid fa-circle-chevron-right"></i></button>
        </div>
        <div class="bg-white shadow rounded-sm p-[20px]">
          <div class="flex flex-col">
            <div class="flex flex-row place-items-center gap-[15px]">
              <div class="h-[50px] w-[50px] bg-slate-200 rounded-full"></div>
              <div class="flex flex-col gap-2 ">
                <span class="text-[18px] font-semibold">John Doe</span>
                <span class="text-[#b2b2b2]"><i class="fa-solid fa-clock text-[10px]"></i> 2 mins ago</span>
              </div>
              <div class="flex-1"></div>
              <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-xl">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <ul class="flex flex-row gap-4 my-[15px] text-[#b2b2b2]">
              <li class="flex flex-row gap-1"><img src="/assets/images/icon8.png" alt=""><span>Epic Coder</span></li>
              <li class="flex flex-row gap-1"><img src="/assets/images/icon9.png" alt=""><span>India</span></li>
            </ul>
            <div class="flex flex-row gap-2">
              <button class="w-[33px] h-[30px] rounded-sm bg-green-500 hover:bg-green-600 text-lg text-white"><i
                  class="fa-regular fa-bookmark"></i></button>
              <button class="w-[33px] h-[30px] rounded-sm bg-red-500 hover:bg-red-600 text-lg text-white"><i
                  class="fa-regular fa-envelope"></i></button>
              <button class="h-[30px] px-2 rounded-sm bg-blue-400 hover:bg-blue-500 text-white">Bid Now</button>
            </div>
          </div>
          <div class="text-[16px] mb-[15px]">
            <span class="font-semibold">Senior Web Developer</span>
          </div>
          <div class="flex flex-row gap-4 place-items-center mb-[20px]">
            <div class="px-[13px] py-[5px] bg-blue-400 text-white rounded-sm">Full Time</div>
            <span class="text-[16px] font-semibold">$30 / h</span>
          </div>
          <div class="mb-[20px]">
            <span class="text-[#666666] leading-5">{{ viewMorePost ? lorem : lorem.slice(0, 100) }}...</span>
            <button class="text-[#e44d3a] hover:text-[#c34231] font-semibold" (click)="viewMoreToggle()">{{ viewMorePost
              ? 'View Less' : 'View More' }}</button>
          </div>
          <div class="flex flex-row gap-2 mb-[15px]">
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>HTML</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>CSS</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>PHP</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>Javascript</span>
            </div>
          </div>
          <hr>
          <div class="flex flex-row justify-between text-[#b2b2b2] mt-[30px]">
            <div class="flex flex-row gap-4">
              <div class="flex flex-row gap-2">
                <i class="fa-solid fa-eye"></i>
                <span>Like 20</span>
              </div>
              <div class="flex flex-row gap-2">
                <i class="fa-solid fa-eye"></i>
                <span>Comment 10</span>
              </div>
            </div>
            <div class="flex flex-row gap-2">
              <i class="fa-solid fa-eye"></i>
              <span>Views 50</span>
            </div>
          </div>
        </div>
        <div class="bg-white shadow rounded-sm p-[20px]">
          <div class="flex flex-col">
            <div class="flex flex-row place-items-center gap-[15px]">
              <div class="h-[50px] w-[50px] bg-slate-200 rounded-full"></div>
              <div class="flex flex-col gap-2 ">
                <span class="text-[18px] font-semibold">John Doe</span>
                <span class="text-[#b2b2b2]"><i class="fa-solid fa-clock text-[10px]"></i> 2 mins ago</span>
              </div>
              <div class="flex-1"></div>
              <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-xl">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
            </div>
          </div>
          <div class="flex flex-row justify-between">
            <ul class="flex flex-row gap-4 my-[15px] text-[#b2b2b2]">
              <li class="flex flex-row gap-1"><img src="/assets/images/icon8.png" alt=""><span>Epic Coder</span></li>
              <li class="flex flex-row gap-1"><img src="/assets/images/icon9.png" alt=""><span>India</span></li>
            </ul>
            <div class="flex flex-row gap-2">
              <button class="w-[33px] h-[30px] rounded-sm bg-green-500 hover:bg-green-600 text-lg text-white"><i
                  class="fa-regular fa-bookmark"></i></button>
              <button class="w-[33px] h-[30px] rounded-sm bg-red-500 hover:bg-red-600 text-lg text-white"><i
                  class="fa-regular fa-envelope"></i></button>
            </div>
          </div>
          <div class="text-[16px] mb-[15px]">
            <span class="font-semibold">Senior Web Developer</span>
          </div>
          <div class="flex flex-row gap-4 place-items-center mb-[20px]">
            <div class="px-[13px] py-[5px] bg-blue-400 text-white rounded-sm">Full Time</div>
            <span class="text-[16px] font-semibold">$30 / h</span>
          </div>
          <div class="mb-[20px]">
            <span class="text-[#666666] leading-5">{{ viewMorePost ? lorem : lorem.slice(0, 100) }}...</span>
            <button class="text-[#e44d3a] hover:text-[#c34231] font-semibold" (click)="viewMoreToggle()">{{ viewMorePost
              ? 'View Less' : 'View More' }}</button>
          </div>
          <div class="flex flex-row gap-2 mb-[15px]">
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>HTML</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>CSS</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>PHP</span>
            </div>
            <div class="px-[15px] py-[7px] bg-[#f1f1f1] text-[#b2b2b2] rounded-full">
              <span>Javascript</span>
            </div>
          </div>
          <hr>
          <div class="flex flex-row justify-between text-[#b2b2b2] my-[30px]">
            <div class="flex flex-row gap-4">
              <div class="flex flex-row gap-2">
                <i class="fa-solid fa-eye"></i>
                <span>Like 20</span>
              </div>
              <div class="flex flex-row gap-2">
                <i class="fa-solid fa-eye"></i>
                <span>Comment 10</span>
              </div>
            </div>
            <div class="flex flex-row gap-2">
              <i class="fa-solid fa-eye"></i>
              <span>Views 50</span>
            </div>
          </div>
          <hr>
          <div class="flex flex-col gap-8">
            <div class="text-center mt-[30px] text-3xl">
              <i class="fa-solid fa-circle-plus text-[#b2b2b2] "></i>
            </div>
            <div class="flex flex-col gap-3">
              <div class="flex flex-col gap-1">
                <span class="text-[16px] font-semibold">John Doe</span>
                <span class="text-[#b2b2b2]"><i class="fa-solid fa-clock text-[10px]"></i> 2 mins ago</span>
              </div>
              <span class="text-[#686868]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. delectus itaque cupiditate ipsum odio
                exercitationem dolore quis.
              </span>
              <button class="w-fit text-[#e44d3a]">
                <i class="fa-solid fa-reply"></i> Reply
              </button>
              <div class="flex flex-col gap-3 ml-10">
                <div class="flex flex-col gap-1">
                  <span class="text-[16px] font-semibold">John Doe</span>
                  <span class="text-[#b2b2b2]"><i class="fa-solid fa-clock text-[10px]"></i> 2 mins ago</span>
                </div>
                <span class="text-[#686868]">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  exercitationem dolore quis.
                </span>
                <button class="w-fit text-[#e44d3a]">
                  <i class="fa-solid fa-reply"></i> Reply
                </button>
              </div>
            </div>
            <div class="flex flex-col gap-3">
              <div class="flex flex-col gap-1">
                <span class="text-[16px] font-semibold">John Doe</span>
                <span class="text-[#b2b2b2]"><i class="fa-solid fa-clock text-[10px]"></i> 2 mins ago</span>
              </div>
              <span class="text-[#686868]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. delectus itaque cupiditate ipsum odio
                exercitationem dolore quis.
              </span>
              <button class="w-fit text-[#e44d3a]">
                <i class="fa-solid fa-reply"></i> Reply
              </button>
            </div>
          </div>
          <form class="flex flex-row mt-[30px] gap-3">
            <div class="h-[40px] w-[40px] bg-slate-200 rounded-sm"></div>
            <div class="flex flex-col gap-1 flex-1">
              <div class="flex flex-row w-full border rounded-sm">
                <input type="text"
                  class="flex-1 h-[38px] py-0 px-[10px] focus:outline-none focus:ring-0 bg-transparent border-none leading-[40px] text-[14px] placeholder:text-[#b2b2b2]"
                  placeholder="Title">
              </div>
              <!-- <span class="text-red-500">* error here</span> -->
            </div>
            <button
              class="px-[15px] bg-[#e44d3a] hover:bg-[#c34231] rounded-sm leading-[40px] text-[16px] text-white">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-3 lg:px-[15px] flex flex-col gap-5">
      <div class="bg-white w-full shadow flex flex-col">
        <div class="flex flex-row justify-between place-items-center p-[20px] border-b">
          <span class="text-[18px] font-semibold">Top Jobs</span>
          <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-xl">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
        </div>
        <div class="flex flex-col">
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-col w-2/3 gap-2">
              <span class="font-semibold">Senior Product Design</span>
              <span class="text-[#b2b2b2] line-clamp-2">Lorem ipsum dolor sit amet consec tetur adipisicing elit.</span>
            </div>
            <span class="font-bold truncate">$30 / h</span>
          </div>
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-col w-2/3 gap-2">
              <span class="font-semibold">Senior Product Design</span>
              <span class="text-[#b2b2b2] line-clamp-2">Lorem ipsum dolor sit amet consec tetur adipisicing elit.</span>
            </div>
            <span class="font-bold truncate">$30 / h</span>
          </div>
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-col w-2/3 gap-2">
              <span class="font-semibold">Senior Product Design</span>
              <span class="text-[#b2b2b2] line-clamp-2">Lorem ipsum dolor sit amet consec tetur adipisicing elit.</span>
            </div>
            <span class="font-bold truncate">$30 / h</span>
          </div>
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-col w-2/3 gap-2">
              <span class="font-semibold">Senior Product Design</span>
              <span class="text-[#b2b2b2] line-clamp-2">Lorem ipsum dolor sit amet consec tetur adipisicing elit.</span>
            </div>
            <span class="font-bold truncate">$30 / h</span>
          </div>
        </div>
        <div class="text-center flex flex-col gap-2 py-[15px]">
          <span class="text-[#e44d3a] font-semibold">View More</span>
        </div>
      </div>
      <div class="bg-white w-full shadow flex flex-col">
        <div class="flex flex-row justify-between place-items-center p-[20px] border-b">
          <span class="text-[18px] font-semibold">Most Viewed</span>
          <button class="text-[#b2b2b2] hover:text-[#e44d3a] text-xl">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
        </div>
        <div class="flex flex-col">
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-col w-2/3 gap-2">
              <span class="font-semibold">Senior Product Design</span>
              <span class="text-[#b2b2b2] line-clamp-2">Lorem ipsum dolor sit amet consec tetur adipisicing elit.</span>
            </div>
            <span class="font-bold truncate">$30 / h</span>
          </div>
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-col w-2/3 gap-2">
              <span class="font-semibold">Senior Product Design</span>
              <span class="text-[#b2b2b2] line-clamp-2">Lorem ipsum dolor sit amet consec tetur adipisicing elit.</span>
            </div>
            <span class="font-bold truncate">$30 / h</span>
          </div>
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-col w-2/3 gap-2">
              <span class="font-semibold">Senior Product Design</span>
              <span class="text-[#b2b2b2] line-clamp-2">Lorem ipsum dolor sit amet consec tetur adipisicing elit.</span>
            </div>
            <span class="font-bold truncate">$30 / h</span>
          </div>
          <div class="px-[20px] py-[15px] flex flex-row place-items-center justify-between">
            <div class="flex flex-col w-2/3 gap-2">
              <span class="font-semibold">Senior Product Design</span>
              <span class="text-[#b2b2b2] line-clamp-2">Lorem ipsum dolor sit amet consec tetur adipisicing elit.</span>
            </div>
            <span class="font-bold truncate">$30 / h</span>
          </div>
        </div>
        <div class="text-center flex flex-col gap-2 py-[15px]">
          <span class="text-[#e44d3a] font-semibold">View More</span>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-container *ngIf="modalCreatePost">
  <div
    class="fixed left-0 top-0 z-50 h-screen w-screen bg-black bg-opacity-70 transition-all duration-1000 overflow-y-auto"
    [ngClass]="modalCreatePost ? 'flex flex-col' : 'hidden'">
    <div class="bg-white w-[570px] mx-auto my-auto h-fit relative">
      <button class="absolute -top-5 -right-5 text-xl text-white hover:text-[#e44d3a]" (click)="openModalCreatePost()">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
      <div class="py-[20px] bg-[#e44d3a] text-[18px] text-white text-center">
        <span class="mx-auto">Post a Project</span>
      </div>
      <form class="px-[35px] py-[30px] flex flex-col gap-[20px]">
        <div class="flex flex-col gap-1">
          <div class="flex flex-row w-full border rounded-sm">
            <input type="text"
              class="flex-1 h-[38px] py-0 px-[10px] focus:outline-none focus:ring-0 bg-transparent border-none leading-[40px] text-[14px] placeholder:text-[#b2b2b2]"
              placeholder="Title">
          </div>
          <!-- <span class="text-red-500">* error here</span> -->
        </div>
        <div class="flex flex-col gap-1">
          <div class="flex flex-row w-full border rounded-sm">
            <select name="" id=""
              class="flex-1 h-[38px] py-0 px-[10px] focus:outline-none focus:ring-0 bg-transparent border-none leading-[40px] text-[14px] text-[#b2b2b2] placeholder:text-[#b2b2b2]">
              <option value="">Category</option>
              <option value="">Category A</option>
              <option value="">Category B</option>
              <option value="">Category C</option>
            </select>
          </div>
          <!-- <span class="text-red-500">* error here</span> -->
        </div>
        <div class="flex flex-col gap-1">
          <div class="flex flex-row w-full border rounded-sm">
            <input type="text"
              class="flex-1 h-[38px] py-0 px-[10px] focus:outline-none focus:ring-0 bg-transparent border-none leading-[40px] text-[14px] placeholder:text-[#b2b2b2]"
              placeholder="Skills">
          </div>
          <!-- <span class="text-red-500">* error here</span> -->
        </div>
        <div class="flex flex-row place-items-center gap-4">
          <div class="flex-1 flex flex-col gap-1">
            <div class="flex flex-row w-full border rounded-sm">
              <input type="text"
                class="flex-1 h-[38px] py-0 px-[10px] focus:outline-none focus:ring-0 bg-transparent border-none leading-[40px] text-[14px] placeholder:text-[#b2b2b2]"
                placeholder="Price">
              <div class="h-[38px] py-0 px-[15px] leading-[40px] border-l text-[#b2b2b2]">
                <i class="fa-solid fa-dollar-sign"></i>
              </div>
            </div>
            <!-- <span class="text-red-500">* error here</span> -->
          </div>
          <span class="text-[#b2b2b2]">To</span>
          <div class="flex-1 flex flex-col gap-1">
            <div class="flex flex-row w-full border rounded-sm">
              <input type="text"
                class="flex-1 h-[38px] py-0 px-[10px] focus:outline-none focus:ring-0 bg-transparent border-none leading-[40px] text-[14px] placeholder:text-[#b2b2b2]"
                placeholder="Price">
              <div class="h-[38px] py-0 px-[15px] leading-[40px] border-l text-[#b2b2b2]">
                <i class="fa-solid fa-dollar-sign"></i>
              </div>
            </div>
            <!-- <span class="text-red-500">* error here</span> -->
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="flex flex-row w-full border rounded-sm">
            <textarea cols="30" rows="3" type="text"
              class="flex-1 py-0 px-[10px] focus:outline-none focus:ring-0 bg-transparent border-none leading-[40px] text-[14px] placeholder:text-[#b2b2b2]"
              placeholder="Description"></textarea>
          </div>
          <!-- <span class="text-red-500">* error here</span> -->
        </div>
        <div class="flex flex-row gap-4 text-[16px] mt-[20px]">
          <button class="px-[25px] py-[10px] rounded-sm bg-[#e44d3a] hover:bg-[#c34231] text-white">Post</button>
          <button class="px-[25px] py-[10px] rounded-sm border hover:bg-[#b2b2b2]">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
